ENV='dev'
APP_PORT=8001
API_VERSION=2

#DATABASE SECRETS
DATABASE_USER=appx
DATABASE_PASSWORD=
DATABASE_NAME=appx_pos
DATABASE_PORT=33060
DATABASE_HOST=host.docker.internal

#CALL SERVICES
MS_API_V1=http://localhost:8000/api/oauth/
MS_API_V2=http://localhost:8001/v2/mifoo-api/