ENV='local'
APP_PORT=8001
API_VERSION=2
APP_NAME='MiFoo Api V2'

#DATABASE SECRETS
DATABASE_USER=appx
DATABASE_PASSWORD=
DATABASE_NAME=appx_pos
DATABASE_PORT=33060
DATABASE_HOST=host.docker.internal

#REDIS
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASSWORD=null

#MAIL
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME='USERNAME_MAIL'
MAIL_PASSWORD='PASSWORD_MAIL'
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mifoo@ar7pro.com
MAIL_FROM_NAME="${APP_NAME} LOCAL"

#PUSHER
BROADCAST_DRIVER=pusher
PUSHER_APP_ID=1338511
PUSHER_APP_KEY=XXXX
PUSHER_APP_SECRET=XXXX
PUSHER_APP_CLUSTER=mt1

#CALL SERVICES
MS_API_V1=http://localhost:8000/api/oauth/
MS_API_V2=http://localhost:8001/v2/mifoo-api/